@use "./footer.scss";

@mixin set-margin($direction, $value) {
  margin-#{$direction}: $value;
}

$text-color: orange;

body {
  color: lightblue;
}

.content {
  .title {
    font-size: 24px;
    color: $text-color;
  }
  .title-lg {
    @extend .title;
    font-size: 32px;
  }
  @include set-margin(right, 16px);
}

.copy-protection {
  user-select: none;
}
